body{
	margin: 0;
	padding:0;
}
.box1
{
	background-color: #ee3e64;
	width: 200px;
	height: 200px;
	position: relative;
}
.box2
{
	background-color: #44accf;
	width: 200px;
	height: 200px;
	position: relative;
	left: 200px;
	

}
.box3
{
	background-color: #b7d84b;
	width: 200px;
	height: 200px;
	position: relative;


}

.clear{

	
	padding: 5% 0 0 70%;

	display: block;
	clear: both;

}